body {
        background-color:crimson;
}

div {
        font-size:
                64px;
        color:darkgoldenrod;
        text-align: center;
        text-decoration: underline;
        font-family: "Jokerman";
      }
.pic img {
        background-size:cover;
        background:url("game_Screenshot.PNG");
        height:100px;
}
