body {
        background-color:crimson;
}

div {
        font-size:
                64px;
        color:darkgoldenrod;
        text-align: center;
        text-decoration: bold;
        font-family: "Bradley Hand";
      }
.pic {
        background:url("game_Screenshot.PNG")no-repeat;
        height:238px;
        width:100%;
        background-size:contain;
      }
.uss {
        font-size:
                28px;
        color:white;
        text-align: center;
        text-decoration: none;
        font-family: "Comic Sans MS";
