body {
        background-color:crimson;
}

div {
        font-size:
                64px;
        color:darkgoldenrod;
        text-align: center;
        text-decoration: underline;
        font-family: "Jokerman";
      }
.pic {
        background:url("game_Screenshot.PNG")no-repeat;
        height:238px;
        width:100%;
        background-size:contain;
      }
.uss {
        font-size:
                28px;
        color:white;
        text-align: left;
        text-decoration: none;
        font-family: "Comic Sans MS", cursive, sans-serif
